doctype html
html
    head
        title Polimat
        link(rel='stylesheet', href='css/main.css')
        script(src='js/main.js')
    body
        h1 Привет!
        p Welcome to my super lame site.
        img(src="img/img1.jpeg", alt="Мост")
